DATABASE_URL=postgres://auth:auth@localhost:5432/authdb?sslmode=disable
JWT_SECRET=super-secret-change-me
JWT_ISSUER=auth-service

GOOGLE_CLIENT_ID=xxx
GOOGLE_CLIENT_SECRET=xxx
GOOGLE_REDIRECT_URL=http://localhost:8080/auth/google/callback

GITHUB_CLIENT_ID=xxx
GITHUB_CLIENT_SECRET=xxx
GITHUB_REDIRECT_URL=http://localhost:8080/auth/github/callback

WEB_ORIGIN=http://localhost:3000
RP_ID=localhost
RP_NAME=MyAuth
